

<% if @url.errors.any? %>
  <div class='alert alert-danger'> 
    <ul>
    <% @url.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @url,url: urls_path,html: {method: 'post'}  do |f| %>
	<div class="container">
	  <div class="panel panel-default shadow">
	  	<div class="panel-heading">
	  		<h4>Enter URL to shorten it .</h4>
	  	</div>	
		  <div class="panel-body">
				<div class="form-group col-md-8 col-md-offset-2">
					<%= f.label :original_url ,"Enter URL:"%>
					<%= f.text_field :original_url, class: "form-control" , required: true, placeholder: "Enter Original Url"%>
				</div>
				
				<div class='col-md-4 col-md-offset-5'>			
					<%= f.submit 'Submit', class: "btn btn-primary" %>
				</div>
			</div>
		</div>		
	</div>	
<% end %>



<h3><center>Top 100 Visited Sites </center></h3>

<div class="container">

	<table class="table table-hover">
	  <tr>
	    <th>Original URL</th>
	    <th>Shortened URL</th>
	    <th>Visit Count</th>
	  </tr>
	 
	  <% @urls.each do |row| %>
	    <tr>
	      <td><%= row.original_url %></td>
	      <td>shortenedurlgen.herokuapp.com/<%= row.shortened_url %></td>
	      <td><%= row.visit_count %></td>
	    </tr>  
	  <% end %>
	</table>

	<div class="apple_pagination">
    <%= will_paginate @urls, :container => false %>
  </div>
</div>